.map-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &.editor .map-window {
    cursor: crosshair !important;

    .leaflet-interactive {
      cursor: inherit !important;
    }
  }

  .map-window {
    width: 100%;
    height: 100%;
    flex: 1;
  }
}

.add-area-button {
  &:hover {
    background-color: #cdcdcd;
  }

  .ant-float-btn-body {
    background-color: #fff;
    color: #000;

    .ant-float-btn-content .ant-float-btn-icon {
      color: inherit;
    }
  }

  &.cancel-button {
    .ant-float-btn-body {
      background-color: #f03e3e;
      color: #fff;
    }
  }
}

.delete-button {
  background-color: #f03e3e;
  width: 100%;

  &:hover {
    background-color: #ff6e6e !important;
  }
}
