* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 100vw;
  margin: 0 auto;
  padding: 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.list-item-space-between {
  display: flex;
  justify-content: space-between;
}
